<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

 
 <bean id="comn"
 	class="br.edu.ifpb.pweb2.v4.ComunicadorREST">

 </bean>
 
 <bean id="machine"
 	class="br.edu.ifpb.pweb2.v4.MaquinaAutoAtendimento">
 	<!-- <constructor-arg ref="comn"></constructor-arg>-->
 	<property name="comn" ref="comn"></property>
 
 </bean>
 
 
 </beans>